<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Blog+</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<header th:insert="blocks/header :: header"></header>
 <div>
    <h1>Site Blog</h1>
     <div th:each="el :${posts}" class ="alert alert-info mt-2">
         <h3 th:text="${el.title}" ></h3>
         <p th:text="${el.annons}"></p>
         <a th:href="'/blog/'+${el.id}">Details...</a>
     </div>

</div>

<div th:insert="blocks/footer :: footer"></div>
</body>
</html>